{include file="public/header,public/nav" /}
<div class="layout-container w">
    <div class="layout-left">
        <ul>
            <li class="l-item"><a href="" >一天课程</a></li>
            <li class="l-item"><a href="" >二天课程</a></li>
            <li class="l-item"><a href="" >三天课程</a></li>
            <li class="l-item"><a href="" >四天课程</a></li>
            <li class="l-item"><a href="" >五天课程</a></li>
            <li class="l-item"><a href="" >六天课程</a></li>
            <li class="l-item"><a href="" >七天课程</a></li>
        </ul>
    </div>
    <div class="layout-right"></div>
</div>
{include file="public/footer" /}