
{include file="public/header,public/nav" /}



<!--banner-->
<div id="flashs">
 <div class="bd"><div class="flash">

<script type="text/javascript" src="__INDEX__/js/indexbn.js"></script>
<style>
.fullSlide { width:100%;position:relative;  height:400px; overflow:hidden;}
.fullSlide .bd {margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul {width:100% !important;}
.fullSlide .bd li {width:100% !important;height:400px;overflow:hidden;text-align:center;}
.swiper-container{
    --swiper-theme-color: #ff6600;
    --swiper-pagination-color: #e31d1e;/* 两种都可以 */
}
    .news a:hover {
        text-decoration: none;
        color:#c0221a;
    }
</style>
<div class="fullSlide">
    <div class="bd">
        <ul>
            {volist name='banner' id='item'}
                <li style="background: #ccc url('{$item.url}') center 0 no-repeat;">
                    <a href='/' target='_blank' title=''></a>
                </li>
            {/volist}
        </ul>
    </div>
     <div class="btn hd">
        <ul>
        </ul>
    </div>
    <span class="prev"></span><span class="next"></span>
</div></div></div>
</div>
<!--banner-->





<div class="news-container container" style="display: flex;">
    <div class="">
        <div class="swiper-container" style="width: 500px;height: 300px;margin-right: 50px;">
            {volist name='swiper' id='sp'}
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{$sp.url}" alt="{$sp.title}" style="width: 100%;height: 100%;"></div>

            </div>
            {/volist}
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="news" style="flex:1;padding-right: 50px;">
        <div style="font-weight:bold;font-size: 24px;color:#c0221a;margin-bottom: 10px;">新闻动态</div>
        <ul>
            {volist name='article' id='at'}
            <li style="display: flex;justify-content: space-between;padding:5px 0;">
                <div>
                    <a href="{:url('news/index',['type'=>$at.type])}">[{$at.type|getArticleType}]</a>
                    <a href="{:url('news/detail',['id'=>$at.id])}"><span>{$at.title}</span></a>
                </div>
                <span>{$at.create_time}</span>
            </li>
            {/volist}
        </ul>
        <div style="text-align: right"><a href="">more >>></a></div>
    </div>
</div>

<div class="paner container">
    <div class="ctle line-b indexTit">
        <h2 class="c-red ff tac"><s class="icon"></s>培训资源</h2>
        <!-- <i><img src="static/picture/ctline.png" alt="" width="51" height="1"></i> -->
    </div>
</div>
 <div class="Honor">
   <div class="swiper-container" >
    <div class="Showbox">
     <div class="hnlisder" style="display: block;">
      <div class="tempWrap">
       <div class="tempWrap" style="overflow:hidden; position:relative; width:868px">
        <ul style="width: 2821px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -809px;" id='pxhj'>
            {volist name='trainEnv' id='env'}
            <li class=''>
                <a href='fengcai/fengcai159.html' title='{$env.title}' target='_blank'>
                    <img src='{$env.url}' alt='{$env.title}' title='{$env.title}' width='196' height='126' />
                </a>
                <h6>{$env.title}</h6>
            </li>
            {/volist}
        </ul>
       </div>
      </div>
      <a class="btn prev" href="javascript:void(0)"></a>
      <a class="btn next" href="javascript:void(0)"></a>
     </div>
    </div>
   </div>
</div>



<!--<div class="szll">-->
<!-- <div class="container">-->
<!--  <div class="yixiant indexTit">-->
<!--   <h2 class="c-red ff tac"><s class="icon"></s>师资力量</h2>-->
<!--  </div>-->
<!-- </div>-->
<!-- <div class="mifend">-->
<!--  <div class="container">-->
<!--   <ul class="liuge clearfix" id="teacher">-->
<!--   </ul>-->
<!--  </div>-->
<!-- </div>-->
<!--</div>-->


<!-- 培训方案 -->

<div class="floor_4 w1200 clearfix">
    <div class="floor_4_con">
        <div class="indexTit c-red ff tac">
            <s class="icon "></s><span class=" fw-600 fz28">培训方案</span>
        </div>
        <div class="planList">
            <ul>
                <li><a href="/pxlc/1.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>2</em>培训方案</h2>
                    </a></li>
                <li><a href="/pxlc/2.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>3</em>培训方案</h2>
                    </a></li>
                <li><a href="/pxlc/3.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>4</em>培训方案</h2>
                    </a></li>
                <li><a href="/pxlc/4.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>5</em>培训方案</h2>
                    </a></li>
                <li><a href="/pxlc/5.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>6</em>培训方案</h2>
                    </a></li>
                <li><a href="/pxlc/6.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>7</em>培训方案</h2>
                    </a></li>
                <li><a href="/pxlc/7.html">
                        <h2><img src="__INDEX__/images/time.png" /><em>8</em>培训方案</h2>
                    </a></li>
                <li class="item"><a href="/pxlc.html">
                        <h2><em>定制</em>培训安排</h2>
                    </a></li>
            </ul>
        </div>
    </div>
</div>


<!-- 培训方案 -->






<!-- 大别山红色记忆 -->
<div class="redHistory">
    <div class="yixiant indexTit">
        <h2 class="c-red fw-600 fz28 ff tac"><s class="icon"></s>大别山红色记忆</h2>
    </div>
    <div class="history">
        <div class="his-item">
            <div class="his-title">红色历史</div>
            <ul>
<!--                {volist name='history' id='hi'}-->
<!--                    <li style="display: flex;">-->
<!--                        <img src="{$hi.poster}" alt="" style="width: 60px;">-->
<!--                        <div style="flex: 1;">-->
<!--                            <p>{$hi.title}</p>-->
<!--                            <p>{$hi.des}</p>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                {/volist}-->
                <li>
                    <a href="">
                        <div  style="display: flex;justify-content: space-between;padding: 5px 0; border-bottom: 1px dashed #ccc;">
                            <p>标题标题标题</p>
                            <p>2020.4.14 13:20</p>
                        </div>
                    </a>
                </li>
                <li>
                    <div  style="display: flex;justify-content: space-between;padding: 5px 0; border-bottom: 1px dashed #ccc;">
                        <p>标题标题标题</p>
                        <p>2020.4.14 13:20</p>
                    </div>
                </li>
                <li>
                    <div  style="display: flex;justify-content: space-between;padding: 5px 0; border-bottom: 1px dashed #ccc;">
                        <p>标题标题标题</p>
                        <p>2020.4.14 13:20</p>
                    </div>
                </li>
                <li>
                    <div  style="display: flex;justify-content: space-between;padding: 5px 0; border-bottom: 1px dashed #ccc;">
                        <p>标题标题标题</p>
                        <p>2020.4.14 13:20</p>
                    </div>
                </li>
                <li>
                    <div  style="display: flex;justify-content: space-between;padding: 5px 0; border-bottom: 1px dashed #ccc;">
                        <p>标题标题标题</p>
                        <p>2020.4.14 13:20</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="his-item">
            <div class="his-title">将军风采</div>
            <ul style="display: flex;flex-flow: wrap;justify-content: space-between;">
                {volist name='general' id='gen'}
                    <li>
                        <img src="{$gen.url}" alt="" style="width: 60px">
                        <p>{$gen.title}</p>
                    </li>
                {/volist}
                <li class="general-card">
                    <img src="__INDEX__/train/ia_100000023.jpeg" alt="" >
                    <p class="tac">郑维山</p>
                </li>
                <li class="general-card">
                    <img src="__INDEX__/train/ia_100000023.jpeg" alt="" >
                    <p class="tac">郑维山</p>
                </li>
                <li class="general-card">
                    <img src="__INDEX__/train/ia_100000023.jpeg" alt="" >
                    <p class="tac">郑维山</p>
                </li><li class="general-card">
                <img src="__INDEX__/train/ia_100000023.jpeg" alt="" >
                <p class="tac">郑维山</p>
            </li>


            </ul>
        </div>
        <!-- <div class="his-item">革命烈士</div> -->
    </div>
</div>


<div class="about">
    <div class="yixiant indexTit">
        <h2 class="c-red fw-600 fz28 ff tac"><s class="icon"></s>关于我们</h2>
    </div>
    <div class="history">

    </div>
</div>

<!-- 大别山红色记忆 -->







<script type="text/javascript">

/* 内层图片无缝滚动 */
jQuery(".Honor .hnlisder").slide({ mainCell: "ul", vis: 4, prevCell: ".prev", nextCell: ".next", effect: "leftMarquee", interTime: 50, autoPlay: true, trigger: "mouseover" });

/* 外层tab切换 */
jQuery(".Honor").slide({ titCell: ".Hntab li", mainCell: ".Showbox" });
$(function () {
    var mySwiper = new Swiper ('.swiper-container', {
        //direction: 'vertical', // 垂直切换选项
        loop: true, // 循环模式选项
        autoplay: true,
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
        },
    })
})

</script>


{include file="public/footer" /}


