{include file="public/header,public/nav" /}

<div class="layout-container w">
    <div class="layout-left">
        <ul>
            <li class="l-item"><a href="">培训模式</a></li>
        </ul>
    </div>
    <div class="layout-right">
        <div class="train-item">
            <div class="train-title">一、开班仪式</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000011.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000012.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000013.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000014.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">二、专题教学</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000023.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000024.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000025.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000026.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">三、现场教学</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000059.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000060.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000061.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000062.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">四、学员敬献花篮</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000047.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000048.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000049.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000050.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">五、重温入党誓词</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000035.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000036.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000037.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000038.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">六、访谈教学</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000071.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000072.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000073.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000074.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">七、体验教学</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000083.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000084.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000085.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000086.jpeg" alt=""></div>
            </div>
        </div>
        <div class="train-item">
            <div class="train-title">八、结业仪式</div>
            <div class="img-box">
                <div><img src="__INDEX__/train/ia_100000095.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000096.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000097.jpeg" alt=""></div>
                <div><img src="__INDEX__/train/ia_100000098.jpeg" alt=""></div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}