{include file="public/header,public/nav" /}
<div class="layout-container w">
    <div class="layout-left">
        <ul>
            <li class="l-item"><a href="">培训资源</a></li>
        </ul>
    </div>
    <div class="layout-right">
        <div class="train-title">培训资源</div>
        <div class="df train-env" style="flex-flow: wrap">
            <div class="stu-item-card">
                <a href="{:url('trainEnv/detail?id=')}">
                    <div>
                        <img src="__INDEX__/train/ia_100000059.jpeg" alt="" >
                        <p class="st-title">许世友将军墓</p>
                    </div>
                </a>
            </div>
            <div class="stu-item-card">
                <div>
                    <img src="__INDEX__/train/ia_100000059.jpeg" alt="" >
                    <p class="st-title">许世友将军墓</p>
                </div>
            </div>
            <div class="stu-item-card">
                <div>
                    <img src="__INDEX__/train/ia_100000059.jpeg" alt="" >
                    <p class="st-title">许世友将军墓</p>
                </div>
            </div>
            <div class="stu-item-card">
                <div>
                    <img src="__INDEX__/train/ia_100000059.jpeg" alt="" >
                    <p class="st-title">许世友将军墓</p>
                </div>
            </div>

        </div>
    </div>
</div>
{include file="public/footer" /}