{include file="public/header,public/nav" /}
<div class="layout-container w">
    <div class="layout-left">
        <ul>
            <li class="l-item"><a href="{:url('servise/index?type=9')}">车辆</a></li>
            <li class="l-item"><a href="{:url('servise/index?type=7')}">住宿</a></li>
            <li class="l-item"><a href="{:url('servise/index?type=8')}">饮食</a></li>
            <li class="l-item"><a href="{:url('servise/index?type=10')}">其他</a></li>
        </ul>
    </div>
    <div class="layout-right">
        <div class="train-title">服务保障</div>
        <div class="df train-env" style="flex-flow: wrap">
            <div class="stu-item">
                <img src="__INDEX__/train/ia_100000059.jpeg" alt="">
                <div class="stu-title">学员风采</div>
            </div>
            <div class="stu-item">
                <img src="__INDEX__/train/ia_100000059.jpeg" alt="">
                <div class="stu-title">学员风采</div>
            </div>
            <div class="stu-item">
                <img src="__INDEX__/train/ia_100000059.jpeg" alt="">
                <div class="stu-title">学员风采</div>
            </div>
            <div class="stu-item">
                <img src="__INDEX__/train/ia_100000059.jpeg" alt="">
                <div class="stu-title">学员风采</div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}